<div class="head">
           <h1 class="active">History</h1>
           <a href="#" class="link">Home</a>
       </div>
       <h3>Recently watched by you:</h3>
        <div class="entries">
            <ul>
                {{#entries}}
                <li class="entry">
                    <a href=#{{id}}>
                    {{#images}}
                    <img src={{this.url}}/>
                    {{/images}}
                    <div class="entry_title">{{this.title}}</div>  
                </a>
                </li>
                {{/entries}}
            </ul>
        </div>